[submodule "lib/chunky"]
	path = lib/chunky
	url = https://github.com/darkodraskovic/chunky
[submodule "lib/roamlib"]
	path = lib/roamlib
	url = https://github.com/darkodraskovic/roamlib
[submodule "lib/raygui"]
	path = lib/raygui
	url = https://github.com/raysan5/raygui
